<div style="position: absolute;right: 20px;top: 20px;color: grey;z-index: 2;">
    <i class="far fa-times-circle cursor" onclick="closeChatScreen()" style="font-size: 20px!important;"></i>
</div>
<article class="chatScreenn mr-3 mt-2">
    <div class="bg-green p-3 header">
        <p class="color-white m-0">Your Chat with Mr Charles</p>
    </div>
    <div class="p-2 chatBody">
        <div class="screen" id="screen">

        </div>
        <input type="text" name="unitMessage" onkeypress="submitMessage(event)" class="unitMessageInput"
            placeholder="Enter your message here...">

    </div>

</article>

</div>