<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/sign.css">
<<<<<<< Updated upstream
    <link rel="stylesheet" href="/css/profileForm.css">
    <link rel="stylesheet" href="/css/agro.css">
    <style>
        .single-row {
            margin-top: 60px;
            z-index: 1030;
            position: fixed !important;
            width: 100%;
        }
    </style>
=======
    <link rel="stylesheet" href="/css/agro.css">

>>>>>>> Stashed changes
</head>

<body>

    {{#if error }}
    {{#if error.length }}
    <div class="alert alert-danger single-row" role="alert">
        <span>
            {{error}}
        </span>
        {{!-- <i class="fas fa-times-circle float-right py-2" style="font-size: 18px;"></i> --}}
    </div>
    {{/if}}
    {{/if}}
    {{#if success }}
    {{#if success.length }}
    <div class="alert alert-success single-row" role="alert">
        <span>
            {{success}}
        </span>
        {{!-- <i class="fas fa-times-circle float-right py-2" style="font-size: 18px;" onclick="alertHide(event)"></i>
        --}}
    </div>
    {{/if}}
    {{/if}}
    {{{ body }}}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <script>
        setTimeout(function () {
            document.getElementsByClassName("alert")[0].style.display = 'none'
        }, 3000)
    </script>
</body>

</html>