{{> nav}}
<style>
 
</style>
<section class="">
        <section class="row banner  ">
            <div class="banner-content col-md-8">
                <h1>PUT YOUR LAND TO USE</h1>
                <h3>SEASONED FARMERS AVAILABLE FOR SERVICE</h3>
            </div>

            <div class=" banner-form col-md-4  " id="banner-form">
                <form action="/contactus" method="POST" class="form ">
                    <h2>CONTACT US</h2>
                     <div class="form-row">
                         <div class="col"><input class="input-alt w-100" class="form-control" type="text" name="first_name" placeholder="FIRST NAME" required></div>
                     </div>
                      <div class="form-row">
                         <div class="col"><input class="input-alt w-100" class="form-control" type="text" name="last_name" placeholder="LAST NAME" required></div>
                     </div>
                      <div class="form-row">
                         <div class="col"><input class="input-alt w-100" class="form-control" type="email" name="email" placeholder="E-MAIL" required></div>
                     </div>
                      <div class="form-row">
                         <div class="col"><input class="input-alt w-100" class="form-control" type="tel" name="phone" placeholder="PHONE NUMBER" required></div>
                     </div>
                      <div class="form-row">
                         <div class="col"><textarea name="message" class=" w-100 form-control" id="text-area" rows="3" placeholder="MESSAGE" required style="padding: 8px!important;"></textarea></div>
                     </div>
                     <div class="form-row"><button type="submit" class="btn-block w-100 btn btn-lg btn-danger">SEND A MESSAGE</button></div>
                    
                </form>
            </div>
        </section>
<br>
        <section class="objectives container">
            <div class="row">
                <div class="col-md-4 mt-1 centered">
                    <div class="card card-whole">
                        <div class="card-body orange-span-body">
                        <div class="title-group">
                            <i class="fas fa-users fa-3x"></i>
                        <h5 class="card-title">JOIN THE COMMUNITY</h5>
                        </div>
                    
                        <p class="card-text text-center">
                            There is a network of farmers and investors waiting to hear from you. If you've got the resources, kindly join this 
                            network towards eradicating food scarcity.
                            </p>
                    </div>
                </div>
                </div>
                <div class="col-md-4 mt-1 centered">
                     <div class="card card-whole">
                        <div class="card-body green-span-body">
                    <div class="title-group">
                        <i class="fas fa-seedling fa-3x"></i>
                        <h5 class="card-title">GET INVOLVED</h5>
                    </div>

                    <p class="card-text text-center">
                        Reach out to a farmer with a desired skill set, and get to discuss business in bid to ensure food 
                        availability in the country, while profiting.
                       
                    </p>
                </div>
            </div>
                </div>
                <div class="col-md-4 mt-1 centered">
                     <div class="card card-whole">
                    <div class="card-body red-span-body color-white">
                    <div class="title-group">
                       <i class="fas fa-truck-moving fa-3x"></i>
                        <h5 class="card-title">INVEST AND BUILD</h5>
                    </div>

                    <p class="card-text text-center">
                        Our social network allows you to make easy steps in getting in touch with seasoned farmers.
                        Build your income by investing in agriculture.
                    </p>
                </div>
            </div>
                </div>
            </div>
            
        </section>

<section class="obj-abt-content  about-us mt-5 py-5 bg-light">
    <div class="container">
    <div class="container-fluid row mx-0">
         <div class="col-md-6" data-aos="zoom-in-left" >
            <img src="img/article-photo3.jpg" alt="d-640x426" class="abt-img w-100  ">
        </div>
        <div class="col-md-6 fade-right" data-aos="zoom-in-right">
            <div class="obj-abt-main-content  ">
                <h3><span class="green-span p-1">ABOUT US</span></h3>
                <h4 class="p-1">
                    Giving you the luxury and connections of a lifetime
                </h4>
                <blockquote>
                    We aim to enrich you and connect you to like minds,
                    our mission is to conect farmers with no resources to
                    investors with resourcesand vice versa. This will in turn ensure food availability in the country.
                </blockquote>
                <div class="contact-us-button ">
                    <button class="btn btn-lg btn-danger" onclick="contactus()">CONTACT US</button>
                </div>
                

            </div>
        </div>
       
    </div>
    </div>
</section>

<section class="statment container mt-5">

    <h1 class="obj-title"> <span class="green-span px-2"> A NEW GENERATION OF FARMING </span></h1>
    <section class=" row">
        <div class="col-md-4 mt-2" data-aos="flip-right" data-aos-duration="1000">
            <div class="card pic-whole">
                <img src="img/farmer-pic.jpg" class="card-img-top pro-img" alt="farmer-profile">
                <div class="card-body profile-details">
                    <h6 class="card-text blue-span">
                        PETE PETERSON.
                    </h6>
                    <h6>
                        STRAWBERRY FARMER
                    </h6>
                    <div class="see-more-button">
                        <button class="btn btn-lg btn-danger" onclick="farmers()">SEE MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2" data-aos="flip-left" data-aos-duration="1000">
            <div class="card pic-whole">
                <img src="img/farmer-pic2.jpg" class="card-img-top pro-img" alt="farmer-profile">
                <div class="card-body profile-details">
                    <h6 class="card-text blue-span">
                        EZE PETERSON.
                    </h6>
                    <h6>
                        COCOA & PINEAPPLE FARMER
                    </h6>
                    <div class="see-more-button">
                        <button class="btn btn-lg btn-danger" onclick="farmers()">SEE MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-2" data-aos="flip-right" data-aos-duration="1000">
            <div class="card pic-whole">
                <img src="img/farmer-pic3.jpg" class="card-img-top pro-img" alt="farmer-profile">
                <div class="card-body profile-details">
                    <h6 class="card-text blue-span">
                        MIGUEL PETERSON.
                    </h6>
                    <h6>
                        LIVESTOCK PIG FARMER
                    </h6>
                    <div class="see-more-button">
                        <button class="btn btn-lg btn-danger" onclick="farmers()">SEE MORE</button>
                    </div>
                </div>
            </div>
        </div>





    </section>
</section>


<section class="obj-abt-content  about-us mt-5 py-5 bg-light">
     <div class="container">
    <div class="container-fluid row mx-0">
        <div class="col-md-6 " data-aos="zoom-in-left">
            <div class="obj-abt-main-content  ">
                <h3><span class="green-span p-1">WHAT WE DO</span></h3>
                <h4 class="p-1">
                    Eradicating food scarcity in Nigeria by encouraging maximum use of land assets
                </h4>
                <blockquote>
                    Bringing our diverse group of clients together to commit to 
                    one goal. We are here to connect farmers to potential investors in bid to encourage agriculture and
                    subsitence farming towards eradication of food scarcity in the country. 
                </blockquote>
                <div class="contact-us-button ">
                    <button class="btn btn-lg btn-danger" onclick="contactus()">CONTACT US</button>
                </div>
                

            </div>
        </div>
        <div class="col-md-6 fade-right" data-aos="zoom-in-right">
            <img src="img/business-handshake.jpg" alt="d-640x426" class="abt-img w-100  ">
        </div>
    </div>
    </div>
</section>

   

<section class="obj-abt-content  about-us mt-5 py-5 bg-transparent">
     <div class="container">
    <div class="container-fluid row mx-0">
        <div class="col-md-6">
            <div class="obj-abt-main-content  ">
                <h3><span class="green-span p-1">SEE A DEMO</span></h3>
               <video src=""></video>
            </div>
        </div>
        <div class="col-md-6">
             <i class="fas fa-quote-left" style="font-size: 30px;"></i>
             <h4 class="p-1 text-center">
                
                    A journey of a thousand miles begin with a step
                </h4>
             <section class="reviews text-center my-5">
                    <button class="btn btn-lg btn-danger"  onclick="farmers()">Contact a Farmer Today</button>
            </section>
        </div>
    </div>
    </div>
</section>
</section>


</section>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
{{> footer}}