<section class="container-fluid">
    
        <section class="row  ">
            <div class="col row-header">
                <div class="left-letter  ">
                    <h3><span class="green-span">Agriculture </span> Company</h3>
                    <h6 class=" ">Be the Leader in the Industry</h6>
                </div>
                <div class="right-letter">
                    <h3>We focus on <span class="green-span"> your growth</span></h3>
                </div>
            </div>
        </section>

        <section class="row banner  ">
            <div class=" banner-content col-8">
                <h3>A SOCIAL NETWORK</h3>
                <h1>BUILT FOR AGRICULTURE</h1>
            </div>

            <div class=" banner-form col-4  ">
                <form action="#" class="form  ">
                    <h2>CONTACT US</h2>
                    <input class="input-alt" type="text" name="first-name" placeholder="FIRST NAME">
                    <input class="input-alt" type="text" name="last-name" placeholder="LAST NAME">
                    <input class="input-alt" type="email" name="email" placeholder="E-MAIL">
                    <input class="input-alt" type="number" name="phone" placeholder="PHONE NUMBER">
                    <textarea name="message" id="text-area" cols="28" rows="5" placeholder="  MESSAGE"></textarea>
                    <button class="input-alt red-span text-area">SEND A MESSAGE</button>
                </form>
            </div>
        </section>

        <section class="objectives  ">
            <div class="card card-whole">
                <div class="card-body orange-span-body">
                    <div class="title-group">
                        <i class="fas fa-users fa-3x"></i>
                       <h5 class="card-title">JOIN THE COMMUNITY</h5>
                    </div>
                    
                   <p class="card-text">
                       There is a network of farmers and investors waiting to hear from you. 
                       Join! start investing in your future today!.
                    </p>
                </div>
            </div>

            <div class="card card-whole">
                <div class="card-body green-span-body">
                    <div class="title-group">
                        <i class="fas fa-seedling fa-3x"></i>
                        <h5 class="card-title">GET INVOLVED</h5>
                    </div>
                    
                   <p class="card-text">
                      Reach out to a farmer with a desired skill set, also reach out to investors.
                      Get to know your community and others
                    </p>
                </div>
            </div>

            <div class="card card-whole">
                <div class="card-body blue-span-body">
                    <div class="title-group">
                        <i class="fas fa-tractor fa-3x"></i>
                        <h5 class="card-title">INVEST AND BUILD</h5>
                    </div>
                    
                   <p class="card-text">
                        Our social network allows you to make easy steps in getting your desired clients.
                        Build your community and income.
                    </p>
                </div>
            </div>
        </section>

        <section class="obj-abt-content container-fluid ">

            <img src="img/article-photo3.jpg" alt="d-640x426" class="obj-img  ">
            
            <div class="obj-abt-main-content  ">
                <h3><span class="green-span">ABOUT US</span></h3>
                <h4>
                    Givng you the luxury and connections of a lifetime
                </h4>
                <blockquote>
                    We aim to enrich you and connect you to like minds,
                    our mission is to conect farmers with no resources to 
                    investors with resourcesand vice versa.
                    The need to make our lives better and more sociable is 
                    our anthem. 
                </blockquote>
                <div class="contact-us-button ">
                    <button class="  red-span">CONTACT US</button>
                </div>
                
            </div>
        </section>

        <section class="statment">

            <h1 class="obj-title"> <span class="green-span"> A NEW GENERATION OF FARMING </span></h1>
            <section class="objectives  ">
            
                <div class="card pic-whole">

                    <img src="img/farmer-pic.jpg" class="card-img-top pro-img" alt="farmer-profile">
                    <div class="card-body profile-details">
                      <h6 class="card-text blue-span">
                          PETE PETERSON.
                      </h6>
                      <h6>
                        STRAWBERRY FARMER
                      </h6>
                      <div class="see-more-button">
                          <button class="red-span" style="padding: 7px 22px">SEE MORE</button>
                      </div>
                      
                    </div>
                    
                    
                </div>
    
                <div class="card pic-whole">

                    <img src="img/farmer-pic2.jpg" class="card-img-top pro-img" alt="farmer-profile">
                    <div class="card-body profile-details">
                        <h6 class="card-text blue-span">
                            EZE PETERSON.
                        </h6>
                        <h6>
                            COCOA, GROUNDNUT & PINEAPPLE FARMER
                        </h6>
                        <div class="see-more-button">
                            <button class="red-span" style="padding: 7px 22px">SEE MORE</button>
                        </div>
                        
                      </div>
                      
                </div>
    
                <div class="card pic-whole">

                    <img src="img/farmer-pic3.jpg" class="card-img-top pro-img" alt="farmer-profile">
                    <div class="card-body profile-details">
                        <h6 class="card-text blue-span">
                            MIGUEL PETERSON.
                        </h6>
                        <h6>
                            LIVESTOCK PIG FARMER
                        </h6>
                        <div class="see-more-button">
                            <button class="red-span" style="padding: 7px 22px">SEE MORE</button>
                        </div>
                        
                    </div>

                </div>
            </section>
        </section>
        

        <section class="obj-abt-content   about-us">
            
            <div class="obj-abt-main-content  ">
                <h3><span class="green-span">ABOUT US</span></h3>
                <h4>
                    Givng you the luxury and connections of a lifetime
                </h4>
                <blockquote>
                    We aim to enrich you and connect you to like minds,
                    our mission is to conect farmers with no resources to 
                    investors with resourcesand vice versa.
                    The need to make our lives better and more sociable is 
                    our anthem. Ut enim ad minima veniam, quis nos-
                    trum exerctitionem uilam corpoirs.
                </blockquote>
                <button class="  red-span">CONTACT US</button>
               
            </div>

            <img src="img/article-photo2.jpg" alt="d-640x426" class="abt-img  ">
        </section>
        
        <section class="reviews-outer">
            <h1 class="obj-title"> <span class="green-span"> WHAT OUR FARMERS SAY </span></h1>
            
                <section class="reviews">

                    <div class="card card-statement">
                        <div class="card-body">
                           <i class="fas fa-quote-left fa-3x"></i>
                           <p class="card-text">
                              This is the future, I have never seen such opptunities on my doorstep
                            </p>

                            <div class="statement-footer">
                                <p><span class="blue-span" style="font-weight: bold;">Barry Bolt</span></p>
                                <p>Farmer</p>
                            </div>
                        </div>
                    </div>

                    <div class="card card-statement">
                        <div class="card-body">
                           <i class="fas fa-quote-left fa-3x"></i>
                           <p class="card-text">
                            This is the future, I have never seen such opptunities on my doorstep
                          </p>

                          <div class="statement-footer">
                              <p><span class="blue-span" style="font-weight: bold;">Barry Bolt</span></p>
                              <p>Farmer</p>
                          </div>
                            
                        </div>
                    </div>
                </section>
        </section>
        
        
 </section>