<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/profile.css">
    <title>User Profile</title>
</head>
<body>

    <section class="container user-page">
        
        <section class="row">
            <div class="col-4 design-setting">
                <div class="card card-width">
                    <div class="card-header">
                      <h3 class="font-weight-bold justify-content-start">Account Setting</h3>
                    </div>
                    <div class="card-body">
                        <p class="justify-content-start">Details about your personal information</p>
                    </div>
                </div>

                <div class="card card-width">
                    <div class="card-header">
                      <h3 class="font-weight-bold justify-content-start">Notifications</h3>
                    </div>
                    <div class="card-body">
                        <p class="justify-content-start">Details about your personal information</p>
                    </div>
                </div>

                <div class="card card-width">
                    <div class="card-header">
                      <h3 class="font-weight-bold justify-content-start">Membership Plan</h3>
                    </div>
                    <div class="card-body">
                        <p class="justify-content-start">Details about your personal information</p>
                    </div>
                </div>

                <div class="card card-width">
                    <div class="card-header">
                      <h3 class="font-weight-bold justify-content-start">Password & security</h3>
                    </div>
                    <div class="card-body">
                        <p class="justify-content-start">Details about your personal information</p>
                    </div>
                </div>
            </div>
            <div class="col-8" id="details-section">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body card-container">
                                <img src="/pro-pic.png" alt="d-128x128" id="profile-picture" class="support" >
                                <div class="details">
                                    <p class="d-flex">Details about your personal information</p>
                                    <button type="button" class="btn btn-info justify-content-end update-button">Update</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="row user-information">
                    <div class="col">
                        <section class="heading">
                            <h2 class="font-weight-bold">Change User Information here</h2>
                        </section>
                            <div class="card card-4 card-info">
                                <div class="card-body">
                                     <form method="#">
                                         <div class="row row-space">
                                             <div class="col">
                                                  <div class="input-group">
                                                         <label class="label">first name</label>
                                                        <input class="input--style-4" type="text" name="first_name">
                                                     </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <label class="label">last name</label>
                                                            <input class="input--style-4" type="text" name="last_name">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-space">
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <label class="label">Birthday</label>
                                                            <input class="input--style-4" type="date" id="birthday" name="birthday">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-space">
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <label class="label">Expertise</label>
                                                            <input class="input--style-4" type="text" name="expertise">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <label class="label">Phone Number</label>
                                                            <input class="input--style-4" type="text" name="phone">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-space ">
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <label class="label">Interests</label>
                                                            <input class="input--style-4" type="text" name="unterest">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <label class="label">Languages</label>
                                                            <input class="input--style-4" type="text" name="lang">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row row-space ">
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <label class="label">Country</label>
                                                            <input class="input--style-4" type="text" name="country">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <label class="label">Number of Lands Owned</label>
                                                            <input class="input--style-4" type="number" name="landsOwned">
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="row row-space ">
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <label class="label">Years of Experience</label>
                                                            <input class="input--style-4" type="number" name="experience">
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="input-group">
                                                            <label class="label">Major Produce</label>
                                                            <input class="input--style-4" type="text" name="mProduce">
                                                        </div>
                                                    </div>
                                                </div> -->
                                                <!-- <div class="input-group">
                                                    <label class="label">Subject</label>
                                                    <div class="rs-select2 js-select-simple select--no-search">
                                                        <select name="subject">
                                                            <option disabled="disabled" selected="selected">Choose option</option>
                                                            <option>Subject 1</option>
                                                            <option>Subject 2</option>
                                                            <option>Subject 3</option>
                                                        </select>
                                                        <div class="select-dropdown"></div>
                                                    </div>
                                                </div> -->
                                                <div class="p-t-15">
                                                    <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                                                </div>
                                     </form>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
</body>
</html>