<div class="body">
    <img src="/img/Farms.png" id="signinimage" alt="">
    <div class="signupform centered">
        <form action="/auth/signup" method="POST">
            <h1>Welcome to Agro</h1>
            <h2>Sign up</h2>
            <input type="email" placeholder="Email" name="username" class="px-2" required><br>
            <select name="role">
                <option value="farmer" class="text-center px-2" id="options">Farmer</option>
                <option value="investor" class="text-center px-2" id="options">Investor/Contributor</option>
            </select><br>
            <input type="password" placeholder="Password" class="px-2" name="password"  pattern=".{6,}" title="password must be atleast six characters long" required><br>
            <button type="submit" id="button">Register</button>
            <p id="question">do you already have an account? <a href="/auth/login">login</a></p>
             <br>
            <a href="/">Go Home</a>
        </form>
    </div>
</div>