<div class="body">
    <img src="/img/Farms.png" id="signinimage" alt="">
    <div class="signinform centered">
        <form action="/auth/login" method="POST">
            <h2>Log in</h2>
            <input type="email" placeholder="Email" class="px-2" name="username" required><br>
            <input type="password" placeholder="Password" class="px-2" name="password" required><br>
            <button type="submit" id="button">Log in</button><br>
            <p id="question">You do not have an account with us? <a href="/auth/signup">Register</a></p>
             <br>
            <a href="/">Go Home</a>
        </form>
    </div>
</div>