<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/profile.css">
    <title>User Profile</title>
</head>
<body>

    <section class="container user-page">
        
        <section class="row">
            <div class="col-4">
                <div class="card card-width">
                    <div class="card-header">
                      <h3 class="font-weight-bold justify-content-start">Account Setting</h3>
                    </div>
                    <div class="card-body">
                        <p class="justify-content-start">Details about your personal information</p>
                    </div>
                </div>

                <div class="card card-width">
                    <div class="card-header">
                      <h3 class="font-weight-bold justify-content-start">Notifications</h3>
                    </div>
                    <div class="card-body">
                        <p class="justify-content-start">Details about your personal information</p>
                    </div>
                </div>

                <div class="card card-width">
                    <div class="card-header">
                      <h3 class="font-weight-bold justify-content-start">Membership Plan</h3>
                    </div>
                    <div class="card-body">
                        <p class="justify-content-start">Details about your personal information</p>
                    </div>
                </div>

                <div class="card card-width">
                    <div class="card-header">
                      <h3 class="font-weight-bold justify-content-start">Password & security</h3>
                    </div>
                    <div class="card-body">
                        <p class="justify-content-start">Details about your personal information</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body card-container">
                                <img src="/pro-pic.png" alt="d-128x128" id="profile-picture" class="support">
                                <div class="details">
                                    <p class="d-flex ">Details about your personal information</p>
                                    <button type="button" class="btn btn-info justify-content-end update-button">Update</button>
                                    <!-- Trigger/Open The Modal -->
                                    <button class="btn btn-info" id="myBtn">Message</button>
                                    <!-- The Modal -->
                                    <div id="myModal" class="modal">
                                        <!-- Modal content -->
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <form action="#">
                                                <div class="col">
                                                    <div class="input-group">
                                                          <textarea class="input--style-4 message-area" type="text" rows="10" cols="100" name="message" placeholder="Create Your Message"></textarea>
                                                          <button class="btn btn-info btn-sm">Submit</button>
                                                          <button class="btn btn-dark btn-sm cancel-button">Cancel</button>
                                                    </div>
                                                  </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>

                <div class="row user-information">
                    <div class="col">
                        <section class="heading">
                            <h2 class="font-weight-bold">User Information here</h2>
                        </section>
                        
                        <div class="profile-contents">
                            <table>
                                <tr class="support">
                                    <td>Birthday: </td>
                                    <td> 19, May 1994</td>
                                </tr>
                                <tr>
                                    <td>Country: </td>
                                    <td> Nigeria</td>
                                </tr>
                                <tr>
                                    <td>Address: </td>
                                    <td> .....</td>
                                </tr>
                                <tr>
                                    <td>Languages: </td>
                                    <td> English</td>
                                </tr>
                                <tr>
                                    <td>Phone: </td>
                                    <td> 08011223344</td>
                                </tr>
                                <tr>
                                    <td>Interests: </td>
                                    <td> .....</td>
                                </tr>
                                <tr>
                                    <td>Expertise: </td>
                                    <td> Farmer</td>
                                </tr>
                                <tr>
                                    <td>Number of lands owned: </td>
                                    <td> .....</td>
                                </tr>
                                <tr>
                                    <td>Experience: </td>
                                    <td> 7 years</td>
                                </tr>
                                <tr>
                                    <td>Major Produce: </td>
                                    <td> Cassava, Maize</td>
                                </tr>
                            </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            <div class="col user-posts">
                <div class="card user-card">
                    <img src="/user-post2.jpg" class="card-img-top user-img" alt="post-example">
                    <div class="card-body">
                      <p class="card-text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ad itaque
                           voluptatem laboriosam quisquam inventore delectus, asperiores nam nihil
                            necessitatibus vero tempora expedita amet at quia possimus tenetur cumque maxime?
                      </p>

                    </div>
                  </div>
            </div>
            <div class="col user-posts">
                <div class="card user-card">
                    <img src="/user-post1.jpg" class="card-img-top user-img" alt="post-example">
                    <div class="card-body">
                      <p class="card-text">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ad itaque
                           voluptatem laboriosam quisquam inventore delectus, asperiores nam nihil
                            necessitatibus vero tempora expedita amet at quia possimus tenetur cumque maxime?
                      </p>
                      
                    </div>
                  </div>
            </div>
        </section>
    </section>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="/profile.js"></script>
</body>
</html>