.support{
    border: 1px solid red;
}
html, body{
    width: 100vw;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.left-letter{
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-letter h6{
    width: 100%;
    float: left;
}

.right-letter{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-header{
    display: flex;
    justify-content: space-evenly;
}

.banner{
    height: 65vh;
    background-image: url("../img/landfarm.jpg");
    background-position:bottom;
    background-size: auto;
    background-repeat: no-repeat;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content h1{
    font-weight: bolder;
}

.input-alt{
    display: block;
    width: 80%;
    margin: 0.15em 0;
    padding: 0.5rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.65);
}

.form h2, .banner-content h1, .banner-content h3{
    color: rgb(255, 255, 255);
}

.objectives, .obj-abt-content, .reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 80%; */
    /* margin: 0.5rem 00; */
}



.reviews-outer{
    margin: 1.5rem auto;
}


.card-whole{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.pic-whole{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.card-body h6{
    margin: 0%;
}

.profile-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card-statement{
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}


.contact-us-button, .obj-abt-main-content blockquote{
    margin: 0%;
}

.statement-footer p{
    margin: 0;
}

.obj-abt-main-content{
   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1rem;
}

.obj-abt-main-content h3{
    width: 100%;
   
}

.obj-abt-main-content button{
    padding: 7px 22px;
}

.contact-us-button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}



.pro-img{
    object-fit: cover;
    object-position: center;
    height: 120px;
}
.obj-img,.abt-img{
    height: 300px;
}

.obj-abt-main-content h4{
    text-transform: uppercase;
} 

.obj-title{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem 0;

}

.green-span{
    color: rgb(139, 162, 22);
}

.green-span-body{
    background-color: rgb(139, 162, 22);
    color: rgb(255, 255, 255);
}

.orange-span{
    color: rgb(254, 147, 7);
}

.orange-span-body{
    background-color: rgb(254, 147, 7);
    color: rgb(255, 255, 255);
}

.red-span{
    background-color: rgb(239, 20, 0);
    color: rgb(255, 255, 255);
}

.blue-span{
    color: rgb(28, 166, 231);
}

.blue-span-body{
    background-color: rgb(28, 166, 231);
    color: rgb(255, 255, 255);
}

.title-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .banner, .objectives, .obj-abt-content, .reviews-outer, .statement{
     margin: 15rem, 0; 
} */