@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&display=swap');


.bodyP{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: small !important;
    display: flex;
}
.space{
    margin: 0 10px;
}
.farmimg{
    background-image: url('/img/Farms.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:40%;
}
.profileform{
    padding: 50px 30px;
    font-size: 15px;
    margin: 20px 0;
    border: 2px solid #6c757d;
    align-items: center;
    text-align: center;
    border-radius: 18px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.19);
}
.profileinput{
    display: flex;
    margin: 10px 0;
}
.profileinputs label{
    font-size: 15px;
    margin: 10px 0;
}



.profileform h1{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #2c5f2c;
}
.profileform #button{
    width: 754px;
    height: 45px;
    margin-top: 20px;
    border: 1px solid #2c5f2c;
    border-radius: 3px;
    border: 0 solid rgba(0,0,0,0.19);
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #97bc62ff;
    color: #2c5f2c;
}

.profileform #button:hover{
    background-color: #2c5f2c;
    color: #97bc62ff;
}
#delete{
    display: none;
}

#imageinput ,#farmimageinput{
    opacity: 0;
    position: absolute;
    z-index: -1;
    
}
#browse {
    cursor: pointer;
}
.profileform img{
    width: 100px;
    height: 100px;
    margin:10px;
}
.textinput::placeholder{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
.farmerdetails{
    display:none;
}
#profileimage{
    height: 100vh;
    position: fixed;
    background-image: url(../img/Farms.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#profileform{
    position: absolute;
    right: 0;
}
@media only screen and (max-width: 1000px){
    #profileimage{
        display: none;
    }
    .col-md-6#profileform{
        max-width: 100%!important;
    }
}
/*
@media screen and (max-width:1525px) and (min-width:1300px){
    .signinform{
        margin: 130px auto;
    }
    .signupform{
        margin: 40px auto;
    }
}

@media screen and (max-width:1300px) and (min-width:600px){
    #signinimage {
       height:0;
    }
    .signinform{
        margin: 120px auto;
    }
    .signupform{
        margin: 40px auto;
    }
}

@media screen and (max-width:600px){
    #signinimage {
        height: 0;
    }
    .signinform{
        margin: 140px auto;
        padding: 20px 60px;
    }
    .signupform{
        margin: 40px auto;
        padding: 30px 30px;
    }
    .signupform h2, .signinform h2{
        font-size: 20px;
    }
    .signupform h1{
        font-size: 24px;
    }
    .signupform input{
        width: 200px;
        height: 40px;
        margin: 5px;
    }
    .signinform input{
        width: 300px;
        height: 40px;
        margin: 5px;
    }
    .signupform select{
        width: 206px;
        height: 40px;
        margin: 5px;
    }
    .signupform button, .signinform button{
        width: 200px;
        height: 40px;
    }
}